/* *{
    font-family:Georgia, 'Times New Roman', Times, serif
   
} */

.about-page{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.about-title{
    
    font-family: great-vibes-regular;    
    font-size: 4.5em;
    position: absolute;
    top:10vh;
    /* font-size: 3em; */
    font-weight: bold;
    /* font-style: italic; */
    z-index: 1;
}

.about-us-details{
    position: absolute;
    bottom:10px;
    /* margin-left: 20%;
    margin-right: 20%; */

    font-size: 1.5em ;
    font-weight: bold;
    font-style: italic; 

    text-align: center;
    justify-content: center;  
    
    z-index: 1;
}

.about-groom, .about-bride{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vh;
    text-align: center;
    align-items: center;    
    margin-bottom: 10px;

    /* border: 1px green solid; */
}