.entourage-page{

    position: relative;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    /* background-color:antiquewhite; */
    /* margin-bottom: 10px; */
    /* border: 1px black solid; */
}

.entourage-title{
    font-family: great-vibes-regular;    
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin-top: 10vh;
    position: relative;
}

.entourage-content{
    color: white;
    /* width: 50vw; */
    position: relative;
    display: flex;
    flex-direction: column;    
    text-align: center;
    /* align-items: center; */
    /* background-color:antiquewhite; */
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

/* .entourage-content::before{
    content: "";
    background-image: url("./images/nebula-deep-space-universe-cosmos-5k-3840x2160-8386.jpg" );
    background-size:cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
} */

.entourage-labels{
    font-family: great-vibes-regular;
    font-size: 2em;   
    font-weight: bold;
    /* text-decoration: underline; */
    /* font-style: italic; */
    margin-top: 25px;
    z-index: 1;
}

.entourage-labels2{
    /* font-size: 20px;     */
    font-family: great-vibes-regular;
    font-size: 2em;   
    font-weight: bold;
    /* text-decoration: underline; */
    /* font-style: italic; */
    margin-top: 25px;
    z-index: 1;
}

.entourage-names{
    font-size: 20px;  
    font-size: 1.1em;     
    font-weight: 500;
    /* font-style: italic; */
    margin-top: 5px;
    z-index: 1;
}