.entourage-page{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-top: 40px;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.entourage-title{
    position: absolute;
    top:10vh;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    /* margin-top: 2em; */
    /* border: 1px blue solid; */
}

.entourage-content{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-bottom: 10px;
    border: 1px black solid;
}

.entourage-labels{
    font-size: 23px;    
    font-weight: bold;
    font-style: italic;
    margin-top: 25px;
}

.entourage-labels2{
    font-size: 20px;    
    font-weight: bold;
    font-style: italic;
    margin-top: 25px;
}

.entourage-names{
    font-size: 20px;    
    font-weight: 500;
    font-style: italic;
    margin-top: 5px;
}