

.front-page{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 10px;
    min-height: 500px;
}

.front-title{
    /* font-family: great-vibes-regular;     */
    /* font-size: 4.5em; */
    position: absolute;
    top:10%;
    font-weight: 400;
    /* font-style: italic; */
    z-index: 1;
    /* margin-top: 2em; */
    /* border: 1px blue solid; */
}

.front-names{
    font-family: great-vibes-regular;    
    font-size: 4.5em;
    /* color:rgba(251, 213, 255); */
    color:white;
}

.front-date{
    font-family: great-vibes-regular;    
    font-size: 2em;
    color:white;
}

.hash-tag{
    border-radius: 5px;
    margin-top: 5vh;
    padding: 10px;
    font-family: aspire-demibold; 
    font-size:2em;
    color:white;
}




