

.front-page{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-top: 40px;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.front-title{
    /* font-family: great-vibes-regular;     */
    /* font-size: 4.5em; */
    position: absolute;
    top:10vh;
    font-weight: bold;
    /* font-style: italic; */
    z-index: 1;
    /* margin-top: 2em; */
    /* border: 1px blue solid; */
}

.front-names{
    font-family: great-vibes-regular;    
    font-size: 4.5em;
}

.front-date{
    font-family: great-vibes-regular;    
    font-size: 3em;
}




