
.wedding-details{
    height: 110vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.wedding-title{
    position: absolute;
    top:30vh;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    /* border: 1px blue solid; */
}

.wedding-timeline{
    height: 70vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;    
    /* border: 1px black solid; */
}

.wedding-date-title{
    position: absolute;
    top:10vh;
    font-size: 200%;
    font-weight: bold;
    /*font-style: italic; */
    /* border: 1px blue solid; */
}

.wedding-date{
    position: absolute;
    top:15vh;
    font-size: 200%;
    /* font-weight: bold;
    font-style: italic; */
    /* border: 1px blue solid; */
}

.timeline-title{
    position: absolute;
    top:30vh;
    font-size: 200%;
    /* font-weight: bold;
    font-style: italic; */
    /* border: 1px blue solid; */
}

.wedding-schedules{
    position: absolute;
    top:35vh;
    width: 75vw;
    text-align: start;
    font-size: 120%;
    /* border: 1px blue solid; */
}

.wedding-schedule{
    display: flex;
    justify-content:left; 
    margin: 10px;
}

.timeline-time{
    margin-left: 60px; 
    margin-right: 5px; 
    font-weight: 600;
}

.wedding-location{
    height: 70vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;    
}
.wedding-location-title{    
    position: absolute;
    top:8vh;
    font-size: 200%;
    font-weight: bold;
    z-index: 1;
}

.wedding-address{
    position: absolute;
    top:15vh;
    font-size: 150%;
    font-weight: bold;

    z-index: 1;
}

.wedding-address2{
    position: absolute;
    top:18vh;
    font-size: 100%;
    font-weight: bold;    
    margin-bottom: 10px;
    z-index: 1;
}





