
.wedding-details{
    height: 70vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.wedding-title{
    position: absolute;
    top:15vh;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    /* border: 1px blue solid; */
}

.wedding-timeline{
    height: 60vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    border: 1px black solid;
}

.wedding-date-title{
    position: absolute;
    top:5vh;
    font-size: 30px;
    /* font-weight: bold;
    font-style: italic; */
    border: 1px blue solid;
}

.wedding-date{
    position: absolute;
    top:10vh;
    font-size: 30px;
    /* font-weight: bold;
    font-style: italic; */
    border: 1px blue solid;
}

.timeline-title{
    position: absolute;
    top:20vh;
    font-size: 30px;
    /* font-weight: bold;
    font-style: italic; */
    border: 1px blue solid;
}

.wedding-schedules{
    position: absolute;
    top:25vh;
    width: 70vw;

    font-size: 20px;
    border: 1px blue solid;
}

.wedding-schedule{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}