a{
    text-decoration: none;
    color:black
}
.wedding-details{
    height: 110vh;
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}

.wedding-title{
    position: absolute;
    top:30vh;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    /* border: 1px blue solid; */
}

.wedding-timeline{
    /* height: 60vh; */
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    background-color:antiquewhite;    
    /* border: 1px black solid; */
}

.wedding-date-title{
    /* position: absolute;
    top:10vh; */
    padding-top: 10vh;
    font-size: 2em;
    font-weight: bold;
    /*font-style: italic; */
    /* border: 1px blue solid; */
}

.wedding-date{
    /* position: absolute; */
    font-size: 2em;
    margin-top: 2vh;
    /* font-weight: bold;
    font-style: italic; */
    /* border: 1px blue solid; */
}

.timeline-title{
    /* position: absolute; */    
    margin-top: 10vh;
    font-size: 2em;
    /* font-weight: bold;
    font-style: italic; */
    /* border: 1px blue solid; */
}

.wedding-schedules{
    /* position: absolute; */
    margin-bottom: 5vh;
    font-size: 1em;
    /* border: 1px blue solid; */
}


.wedding-schedule{
    height: 30px;
}

.timeline-div{
    /* margin-left: 60px;  */
    /* margin-right: 5px;  */
    width: 5%;
    font-weight: 600;
    text-align: center;
}

.timeline-time{
    /* margin-left: 60px;  */
    /* margin-right: 5px;  */
    font-weight: 600;
    text-align: right;
}

.timeline-event{
    text-align: left;
}

.wedding-location{
    height: 70vh; 
    display: flex;
    position: relative;    
    flex-direction: column;    
    text-align: center;
    align-items: center;
    
    /* background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center; */
    /* background-color:antiquewhite;     */
}

.wedding-location::before{
    content: "";
    background-image: url("/images/279578547_107214825315296_2215292687062970163_n.jpg" );
    background-size:cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;

}
.wedding-location-title{    
    /* position: absolute; */
    margin-top:8vh;
    margin-bottom:8vh;
    font-size: 200%;
    font-weight: bold;
    z-index: 1;
}

.wedding-address{
    /* position: absolute; */
    /* top:15vh; */
    font-size: 180%;
    font-weight: bold; 
    cursor: pointer;

    z-index: 1;
}

.wedding-address2{
    /* position: absolute; */
    /* top:18vh; */
    font-size: 120%;
    font-weight: bold;    
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
}





